body {
	font-family: 'Roboto';
	margin: 0;
}

#app-container {
	overflow: hidden;
	width: 100%;
}

#app-header {
	background: #2ecc71;
	height: 10vh;
	position: fixed;
	text-align: center;
	width: 100%;
}

#app-header h1 {
	color: #fff;
	line-height: 10vh;
	margin: 0;
}

#app-body {
	margin: 0 auto;
	min-height: 75vh;
	padding-top: 15vh;
	width: 80%;
}

.tv-show {
	overflow: hidden;
	margin-bottom: 15px;
	padding: 10 px;
	width: 100%;
}

.tv-show::hover {
	background: #fff;
}

.tv-show img {
	max-width: 100px;
}

.tv-show .info,
.tv-show .image {
	display: inline-block;
}

.tv-show .info {
	padding-left: 20px;
}

.left {
	float: left;
}

#app-footer {
	min-height: 10vh;
	width: 100%;
}

#app-footer p {
	border-top: 1px solid #7f8c8d;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	width: 100%;
}