body {
	font-family: 'Roboto';
	margin: 0;
}

#app-container {
	overflow: hidden;
	width: 100%;
}

#app-header {
	background: #2ecc71;
	height: 10vh;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 3;
}

#app-header h1 {
	color: #fff;
	line-height: 10vh;
	margin: 0;
}

#app-body {
	margin: 0 auto;
	min-height: 75vh;
	padding-top: 15vh;
	width: 80%;
}

.search-form {
	margin: 0 auto;
	padding: 12px 6px;
	text-align: center;
	width: 100%;
}

.search-form input[type='text'] {
	border-radius: 3%;
	font-size: 17px;
	width: 300px;
}

.search-form button {
	border-radius: 3%;
	border: 1px;
	font-size: 15px;
	line-height: 140%;
	text-align: center;
	width: 120px;
}

.tv-show {
	background: #eaeaea;
	overflow: hidden;
	margin-bottom: 15px;
	padding: 10px;
	position: relative;
	width: 100%;
}

.tv-show .img-container {
	width: 20%;
}

.tv-show img {
	padding: 10px 15px;
	max-width: 100%;
}

.tv-show .info,
.tv-show .img-container {
	display: inline-block;
}

.tv-show .info {
	padding-left: 20px;
	width: 75%;
}

.tv-show button.like {
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	outline: 0;
	right: 15px;
	top: 15px;
	transition: all .3s ease;
}

.tv-show.liked {
	background:	#fff684;
}

.tv-show.liked button.like {
	transform: scale(1.4);
}

.left {
	float: left;
}

.right {
	float: right;
}

#app-footer {
	min-height: 10vh;
	width: 100%;
}

#app-footer p {
	border-top: 1px solid #7f8c8d;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	width: 100%;
}

/*CSS Spinner*/

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(120, 120, 120, 0.2);
  border-right: 1.1em solid rgba(120, 120, 120, 0.2);
  border-bottom: 1.1em solid rgba(120, 120, 120, 0.2);
  border-left: 1.1em solid rgb(120,120,120);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}